/*****************

COMMON

*****************/

body{
    font-family: "monospace", sans-serif;
}

.font-primary{
    color :rgb(0, 140, 255)
}

.title-icon{
    font: size 20px;
    font-weight: bold;
}

p{
    font-size: 14px;
}

h2{
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
}

a.font-black{
    color: black !important;
}
/*****************

ABOUT

*****************/

#about {
    margin: 60px auto;
    text-align: center;
}

#about img {
    border-radius: 50%;
    width: 120px;
    margin-bottom: 10px;
}

#about .name {
    font-size: 19px;
}

#about .vocation {
    font-size: 17px;
    color: aqua;
    margin-bottom: 10px;
}

#about .skills {
    font-size: 14px;
    color: rgb(16, 17, 17);
    margin-bottom: 10px;
}

#about .email {
    margin-top: 14px;
    font-size: 14px;
}



#about .icons {
    margin-top: 20px;
    font-size: 30px;
}

#about .icons a{
    color: black;
}


/*****************

PROJECT

*****************/

#project {
    margin: 60px auto;
    width: 100%;
}

#project h2{
    text-align: center;
}

#project .card img{
    width: 100%;
    border-radius: 0;
}

.row{
    display: flex;
}

.card{
    width: 80%;
    margin-left: 10%;
}

.card-body{
    text-align: left;
}

.card-text{
    margin: 0;
    padding: 0%;
}

button{
    width: 10vw;
    padding: 0.8vw;
    font-size: 1.5vw;
    border: 0;
    margin-top: 2vw;
    color:white;
    background-color: grey;
}

